@charset "utf-8";
header{
    height:1.5rem;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,.2));
}
.banner{
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.list{
    width: 500%;
}
.banner .list li{
    float: left;
}
.banner .list li img{
    width: 16rem;
}
.num{
    position: absolute;
    right: 14px; bottom: 14px;
}
.num li{
    float: left;
    height: 12px; width: 12px;
    border-radius: 50%;
    border:solid 3px #ffffff;
    /*box-sizing: border-box;*/
    margin-left: 5px;
}
.num .current{
    background-color: #ffffff;
}
main{
    padding: .5rem .25rem;
}
.gBox{
    background-color: #ffffff;
    border: solid 1px #cccccc;
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
    font-size: .5rem;
}
nav{
    text-align: center;
    padding-bottom: .5rem;
}
nav li{
    width: 25%;
    float: left;
}
nav i{
    display: block;
    height:2.5rem;
    width:2.5rem;
    background-image: url("../image/201712/1202医药网站/n1.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    margin: .5rem auto .25rem;
}
nav a{
    display: inline-block;
}
.item{
    height: 100px;
}
.item_tit{
    padding:.35rem;
}
.item_tit h5{
    height:.65rem;
    font-size: .65rem;
    padding-left: .5rem;
    border-left:solid 4px #0088cc;
    line-height:1;
    font-weight: normal;
}
.yao{
    height:8.575rem;
    position: relative;
    background-color: #cccccc;
}
.autoImg{
    width: 100%;
}
.big{
    position: absolute;
    width:7.65rem;
}