@charset "utf-8";
header{
    height:1.5rem;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,.2));
}
.banner{
    position: relative;
    overflow: hidden;
}
.list{
    width: 500%;
}
.banner .list li{
    float: left;
}
.banner .list li img{
    width: 16rem;
}